#logo {
    display: block;
	margin-left: 3px;
}

.logout {
    color: #CC0000;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.glyphicon {
    font-size: 40px;
    color: #cccccc;
    display:block;
    text-align:center;
}

#logout-badge {
    position: absolute; 
    right:5px; top: 5px;    
}

/* stili per la gallery */

figure {
	position: relative;
	display: block;
	width: 100%;
	float: right;
	padding: 0;
	margin: 1em;
	cursor: pointer;
}

figure img {
	display: block;
	max-width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
}

figure:-moz-full-screen img {
	position: fixed;
}

figure:-ms-fullscreen {
	width: auto;
}

figure:-ms-fullscreen img {
	position: fixed;
}

figure:fullscreen img {
	position: fixed;
}
