/*	--------------------------------------------------

	! Layout Chapters
	
	# Chapter One - Global Modules
	# Chapter Two - Page Modules
	
	-------------------------------------------------- */
/*	--------------------------------------------------
	! Global Modules
	-------------------------------------------------- */
/* 	html, body, #page{ height: 100%; } */
#masthead {
  position: fixed;
  z-index: 998;
  width: 100%;
  top: 0;
  left: 0;
}
#masthead .masthead-content {
  position: relative;
  z-index: 999;
}
#masthead .masthead-content .center-header {
  padding-top: 18px;
  margin: 0 auto;
  width: 960px;
}
#masthead .masthead-content #global-nav {
  float: right;
}
#masthead .masthead-content #global-nav a {
  padding: 0 10px 15px 10px;
  height: 100%;
}
#masthead .masthead-content #product-nav {
  margin-right: 25px;
}
#masthead .masthead-content #product-nav .dd-link {
  position: relative;
  height: 40px;
  z-index: 999;
}
#masthead .masthead-content #product-nav .dd-menu {
  position: absolute;
  top: 0;
  left: -15px;
  width: 1250px;
  padding: 10px;
  z-index: 999;
  display: none;
  opacity: 0;
}
#masthead .masthead-content #product-nav .dd-menu ol {
  float: left;
  clear: both;
}
#masthead .masthead-content #product-nav .dd-menu li {
  display: block;
  margin: 0;
}
#masthead .masthead-content #product-nav .dd-menu .columns {
  margin-left: 4%;
}
#masthead .masthead-content #product-nav .dd-menu .six {
  width: auto;
  margin: 0;
}
#masthead .masthead-content #product-nav ol {
  margin: 0;
}
#masthead .masthead-content #product-nav .dd-menu.collections li a {
  padding-bottom: 0;
  display: block;
}
#masthead .masthead-content #product-nav .dd-menu.shop ol {
  margin: 0 0 20px 0;
}
#masthead .masthead-content #product-nav li:first-child {
  margin-right: 0px;
}
#masthead .masthead-content #user-nav a {
  margin-right: 10px;
}
#masthead .masthead-content #user-nav #search {
  padding: 0 5px;
  height: 22px;
}
/* #masthead */
.logo h1 {
  /* 		padding-left:20px; */

}
#main {
  max-width: 1020px;
  min-width: 960px;
  margin: 0 auto;
  position: relative;
}
body.marketing #main {
  max-width: 1240px;
}
body.search #main {
  margin-bottom: 150px;
}
/* Specifically bump down main content on pages :\ */
body.product #main {
  margin-top: 180px;
}
body.product #main.product-detail-grid {
  margin-top: 60px;
}
body.about #main, body.cart.product #main {
  margin-top: 100px;
}
footer {
  padding: 30px 0;
  position: relative;
  z-index: 3;
}
footer .legal-container {
  margin-top: 45px;
  padding: 30px 0 0 0;
}
footer .legal-container .legal-copy {
  position: relative;
}
footer .footer-social {
  margin-top: 2px;
}
footer #newsletter {
  width: 175px;
  height: 24px;
  padding: 0 0 0 25px;
}
footer .newsletter-submit {
  position: absolute;
  right: 3px;
  top: 0;
}
footer .row .two.columns {
  margin-left: 4.2%;
  width: 13.1%;
}
/*	--------------------------------------------------
	! Secondary Modules
	-------------------------------------------------- */.secondary-nav {
  position: fixed;
  top: 100px;
  margin-left: -32px;
  z-index: 1;
}
/*	--------------------------------------------------
	
	! Page Modules
	
	-------------------------------------------------- *//*	--------------------------------------------------
	! Homepage Modules
	-------------------------------------------------- */body.marketing #main {
  width: 100%;
  max-width: none;
}
.left-col, .right-col {
  width:475px;
  display:inline-block;
  vertical-align:top;
}
.left-col {
  margin-right:4px;
}
.image-grid > .left-col > div, .image-grid > .right-col > div {
  display: block;
  float: left;
}
.image-grid div.clear {
  padding-right:7px;
}
.image-grid {
  overflow:hidden;
  padding:0 0 75px 0;
}
.xd-featured-content {
  position: relative;
  margin: 0 auto;
  margin-top:55px;
}
.xd-featured-carousel {
  margin: 0 auto;
  position: relative;
  z-index: 2;
/*  max-height: 620px; */
  overflow: hidden;
}
.xd-featured-carousel ul {
  -webkit-transition: margin-left 400ms cubic-bezier(0.7, 0, 0, 1);
  -moz-transition: margin-left 400ms cubic-bezier(0.7, 0, 0, 1);
  -o-transition: margin-left 400ms cubic-bezier(0.7, 0, 0, 1);
  transition: margin-left 400ms cubic-bezier(0.7, 0, 0, 1);
}
.xd-featured-carousel ul img {
  width: 100%;
  -webkit-transition: margin-top 0.3s ease-out;
  /* Saf3.2+, Chrome */

  -moz-transition: margin-top 0.3s ease-out;
  /* FF4+ */

  -ms-transition: margin-top 0.3s ease-out;
  /* IE10? */

  -o-transition: margin-top 0.3s ease-out;
  /* Opera 10.5+ */

  transition: margin-top 0.3s ease-out;
}
.carousel-indicator {
  position: relative;
  z-index: 888;
  margin-right: 20px;
}
.carousel-indicator li {
  width: 40px;
  height: 5px;
  margin-right: 5px !important;
  display: block;
}
/* Facebook & Twitter Toy */
.social-module {
  position: relative;
  z-index: 222;
  left: 0;
  top: -85px;
}
.social-module span {
  position: relative;
  z-index: 999;
  display: block;
}
.social-module .facebook-tab {
  top: 1px;
}
.social-module div {
  width: 180px;
  padding: 15px;
  z-index: 1;
  display: none;
}
.social-module div p {
  margin-bottom: 5px;
}
.social-module .follow {
  padding-right: 20px;
}
.social-module .twitter-feed {
  position: absolute;
  bottom: 0;
  margin-bottom: 23px;
}
.social-module .twitter-feed .follow {
  position: relative;
  left: 20px;
  bottom: -10px;
  display: block;
}
.social-module .facebook-feed {
  position: absolute;
  top: 100%;
  margin-top: -22px;
  margin-bottom: -10px;
}
.social-module .facebook-feed .follow {
  position: relative;
  left: 20px;
  top: -10px;
  display: block;
}
.big-arrow {
  display: block;
  width: 101px;
  height: 101px;
  margin-bottom: 5px;
  margin-left: -12px;
  cursor: pointer;
  opacity: 0.75;
  -webkit-transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -o-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}
.big-arrow:hover {
  opacity: 1;
}
.diagram {
  width: 65%;
  float: left;
  margin-right: 5%;
  position: relative;
  z-index: 2;
  height: auto;
}
/*	--------------------------------------------------
	! Diagrams + Scrolling
	-------------------------------------------------- */
body.marketing #page {
  overflow: hidden;
}
.diagram span {
  position: absolute;
  left: 50%;
  top: 0;
}
.diagram span img {
  max-width: none;
}
.z-0 {
  z-index: 40;
}
.z-1 {
  z-index: 30;
}
.z-2 {
  z-index: 20;
}
.z-3 {
  z-index: 10;
}
.z-4 {
  z-index: 9;
}
.iphone-case {
  margin-left: -112.5px;
}
.iphone {
  margin-left: -108px;
  margin-top: 1px;
}
.iphone-group {
  margin-left: -295px;
  width: 600px;
  height: 390px;
}
.ipad {
  margin-left: -192.5px;
  margin-top: 70px;
  left: 0 !important;
}
.ipad-backing {
  margin-left: -72px;
  margin-top: 70px;
  left: 0 !important;
}
.ipad-case {
  margin-left: -195.5px;
  left: 0 !important;
}
.ipad-group {
  margin-left: -95px;
  margin-top: -160px;
}
.ipod {
  margin-left: 148px;
  margin-top: 0px;
}
.ipod-case {
  margin-left: 151px;
  margin-top: 3px;
}
.ipod-group {
  margin-left: -408.5px;
  width: 811px;
}
.ipod-group img {
  position: relative;
}
.ipod-group-left {
  margin-left: -20px;
  margin-top: -170px;
  width: 228px;
  left: 0 !important;
}
.ipod-group-right {
  margin-left: -185px;
  margin-top: 230px;
  left: 0;
  width: 228px;
}
#first .diagram {
  height: 443px;
}
#second .diagram {
  height: 832px;
}
#second .information {
  margin-top:70px; 
}
#second .dec-triangle {
  margin-top:-90px; 
}

#third .diagram {
  height: 640px;
}
#third.experience {
  margin-bottom: 100px;
  margin-top:-15px;
}
#third .diagram img {
  max-width: none;
}
.break-left {
  position: relative;
  left: -12%;
}
.break-right {
  position: relative;
  right: -12%;
}
.diagram-shifter {
  position: absolute;
  top: 0%;
  left: 0px;
}
.information {
  width: 30%;
  float: left;
  position: relative;
  top: 95px;
  z-index: 2;
  overflow: visible;
}
#first .information {
  top: 65px;
}
#third .information h1,
#third .information .callout-text {
  width:330px;
}

.experience.l-flipped .diagram {
  float: right;
  margin-right: 0;
}
.experience.l-flipped .information {
  margin-right: 5%;
  position: relative;
  left: 20px;
  top: 125px;
}
.experience {
  margin-top: 250px;
  margin-bottom: 150px;
}
.dec-triangle {
  position: absolute;
  display: block;
}
.dec-triangle.tri-teal {
  display:none; /*  CHANGE TO DISPLAY:BLOCK TO TURN TRIANGLE HEADLINE ON */
}

.tri-grey {
  left: 0;
  height: 818px;
  width: 824px;
  z-index: 1;
  margin-top: -155px;
}
.tri-teal {
  right: 0;
  height: 641px;
  width: 576px;
  top: 80px;
  z-index: 2;
}
.tri-teal.l-flipped {
  left: 0;
}
.tri-lgrey {
  right: 0;
  height: 788px;
  width: 818px;
  z-index: 1;
  margin-top: -180px;
}
.tri-down {
  position: relative;
  width: 220px;
  height: 62px;
  top: -8px;
  left: 320px;
  z-index: 1;
}
.feature-info {
  width: 80%;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5%;
  text-align: right;
}
.l-flipped .feature-info {
  left: 20px;
  text-align: left;
}
/*	--------------------------------------------------
	! Tooltips
	-------------------------------------------------- */
.tooltip-container {
  position: absolute;
  z-index: 999;
}
.tooltip-container .tooltip-info {
  opacity: 0;
  min-width: 145px;
  padding: 6px 6px 6px 8px;
  position: absolute;
  left: 20px;
  top: -25px;
}
#first {
  margin-top: 100px;
  margin-bottom: 300px;
}
#first .t-1 {
  left: 158px;
  top: 10px;
}
#first .t-2 {
  left: 30px;
  bottom: 105px;
}
#first .t-3 {
  left: 125px;
  bottom: 70px;
}
#first .t-4 {
  right: 107px;
  top: 16px;
}
#first .t-5 {
  right: 12px;
  bottom: 102px;
}
#first .l-flipped .tooltip-info {
  left: -100% !important;
}
#second .t-1 {
  left: 12px;
  bottom: 90px;
}
#second .t-2 {
  left: 60px;
  top: 263px;
}
#second .t-3 {
  left: 275px;
  bottom: 39px;
}
#third {
  margin-top: 0;
}
#third .t-1 {
  left: 15px;
  top: 355px;
}
#third .t-2 {
  left: 35px;
  top: 35px;
}
#third .t-3 {
  right: 15px;
  top: 43px;
}

/*	--------------------------------------------------
	
	! Product Landing
	
	-------------------------------------------------- */
.secondary-header {
  margin-bottom: 30px;
  height: 65px;
}
.secondary-header .filter-toggle {
  margin-top: -2px;
  /* 			margin-left:20px; */

}
.secondary-header .filter-toggle a {
  margin-top: 16px;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 2px;
}
.secondary-header .filter-toggle ul .filter a {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.secondary-header .filter-toggle .current {
  height: 100%;
}
.secondary-header .filter-toggle .current a {
  height: 100%;
}
.secondary-header .filter-dropdown .dd-link {
  margin-right: 10px;
  height: 35px;
  width: 180px;
  position: relative;
  z-index: 3;
  top: 15px;
}
.secondary-header .filter-dropdown .dd-link a {
  position: relative;
  top: 6px;
  margin-left: 10px;
}
.secondary-header .filter-dropdown .dd-menu {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  left: -30px;
  padding: 0 0 15px 0;
}
.secondary-header .filter-dropdown .dd-menu li {
  display: block;
}
.secondary-header .filter-dropdown .dd-menu li a {
  text-transform: capitalize;
  display: block;
}
.deal-banner {
  padding: 9px 0 8px;
  position: absolute;
  width: 100%;
  top: -57px;
  left: 0;
}
.deal-banner p {
  margin: 0;
}
#shopify-product-title {
  margin-top: 16px;
}
.product-detail-banner {
  position: relative !important;
  top: 0;
}
.product-detail {
  overflow: hidden;
}
.product-detail .row {
  width: 100%;
}
.product-detail .carousel-wrapper, .product-detail .product-info {
  padding-top: 40px;
}
.product-detail .carousel-wrapper {
  width: 50%;
}
.product-detail .carousel-wrapper .carousel-content {
  width: 505px;
  float: right;
}
.product-detail .product-info {
  position: relative;
  width: 50%;
  min-height: 480px;
  margin-left: 0%;
}
.product-detail .product-info #nice2Tab ul {
  margin: 0 0 0 15px;
  list-style: disc;
  padding-bottom: 35px;
}
.product-detail .product-info .product-info-content {
  width: 420px;
  padding-left: 35px;
}
.product-detail .product-info .product-social {
  position: absolute;
  bottom: 15px;
  margin-left: 30px;
}
.product-detail .product-info #willet_share {
  float: left;
}
.product-detail .product-info .addthis_toolbox {
  float: left;
  position: relative;
  top: 10px;
  left: 20px;
}
.product-grid {
  margin-top: 15px;
}
.product-grid .product-thumb {
  height: 440px;
}
.product-grid .product-thumb a {
  display: block;
  position: relative;
}
.product-grid .product-thumb .product-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  max-width: none;
  margin-top: -50px;
  display: none;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
.product-grid .product-thumb .product-overlay a {
  display: block;
  width: 101px;
  height: 101px;
}
.product-grid .product-thumb img {
  display: block;
  margin: 0 auto;
}
.product-grid .product-thumb h4 {
  margin: 0 0 3px 0;
}
.product-grid .product-thumb p {
  margin: -3px 0 0 0;
}
.product-grid .product-thumb .p-thumb {
  margin-bottom: 20px;
}
.product-grid .product-thumb .thumb-color-picker {
  margin-bottom: 8px;
}
/*	--------------------------------------------------
	! Product Detail Page
	-------------------------------------------------- */
.modal-wrap {
  display: none;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -141px;
  z-index: 999;
}
.modal-wrap .modal-content {
  position: relative;
  padding: 40px;
}
.modal-wrap .modal-close {
  position: absolute;
  right: -22px;
  top: -22px;
}
/*	--------------------------------------------------
	! Collection Modules
	-------------------------------------------------- */
.collection-banner {
  min-height: 75px;
  margin-bottom: 30px;
}
.collection-grouping .col-section {
  margin: 15px 0 0 0;
  padding: 0 0 120px 0;
}
.collection-grouping .col-section .c-group {
  margin: 95px 0 0 0;
}
.collection-grouping .col-section .c-group .c-info {
  height: auto;
  position: relative;
}
.collection-grouping .col-section .c-group .c-info h5 {
  margin-bottom: 13px;
}
.collection-grouping .col-section .c-group .c-info ul li {
  margin: 0;
}
.collection-grouping .col-section .c-group .c-image {
  position: relative;
}
.collection-grouping .col-section .c-group .c-image img {
  display: block;
  margin: 0 auto;
}
.collection-grouping .col-section .c-one {
  margin-top: 50px;
}
.c-one {
  margin-top: 30px;
}
.c-one .c-info {
  top: 5px;
}
.c-two .c-image {
  top: 15px;
}
.c-three .c-image {
  top: 15px;
}
.collection-title {
  margin: 40px 0;
}
/*	--------------------------------------------------
	! About Modules
	-------------------------------------------------- */
.section {
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.section .sub-header {
  margin-bottom: 10px;
}
.section .post-date {
  margin-bottom: 5px;
}
.career-post {
  margin-bottom: 40px;
}
.career-post ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
.career-post ul li {
  line-height: 1.4em;
}
/*	--------------------------------------------------
	! Contact Modules
	-------------------------------------------------- */
#contact ul {
  margin: 0;
}
#contact ul li {
  margin-bottom: 0px;
}
.input-wrap {
  margin-bottom: 15px;
}
.input-wrap label {
  margin: 0 0 4px 0;
}
.split-input .input-wrap {
  float: left;
  margin-left: 10px;
}
.split-input .input-wrap input {
  width: 255px;
}
.split-input .input-wrap:first-child {
  margin-left: 0;
}
.split-input textarea {
  margin-top: 10px;
}
.faq-entry {
  margin-bottom: 20px;
}
/*	--------------------------------------------------
	! Press Archive Page
	-------------------------------------------------- */
body.press-archive .section ul {
  margin-top: 20px;
}
body.press-archive .section ul li {
  margin-bottom: 20px;
}
body.press-archive .section ul li p {
  margin: 0;
}
/*	--------------------------------------------------
	! Forms
	-------------------------------------------------- */
form.support input[type="text"] {
  padding: 8px 0 8px 8px;
  width: 260px;
}
form.support textarea {
  width: 530px;
  padding: 8px 0 8px 8px;
  margin-top: 10px;
}
form.support select {
  margin: 5px 0 10px;
}
/* 	Thanks */
.buffer {
  padding: 5px 0 500px;
}
/*	--------------------------------------------------
	! Module Utilities 
	-------------------------------------------------- */
.block {
  display: block;
}
.bump100 {
  margin-top: 100px;
}
/* 	LESS CLASSES */